.contactBoard {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: minmax(5rem, 15rem) minmax(5rem, auto);
	gap: 2rem;
	overflow-y: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
