.chat-messageBoard__messages {
	min-width: 32rem;
	list-style: none;
	padding: 2rem;
	overflow-y: scroll;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat-messageBoard__messages::-webkit-scrollbar {
	display: none;
}
