.chat {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: var(--color-chat);
}

.chat-messageBoard {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2rem 3fr 1fr;
	overflow-y: scroll;
	background-color: var(--color-chat-active);
}

.chat-messageBoard__messages {
	list-style: none;
	padding: 2rem;
	overflow-y: scroll;
}

.chat-input {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.chat-input__textarea {
	width: 100%;
	height: 100%;
	padding: 5px;
	box-shadow: 2px 2px 21px -12px rgba(0, 0, 0, 0.75) inset;
	-webkit-box-shadow: 2px 2px 21px -12px rgba(0, 0, 0, 0.75) inset;
	-moz-box-shadow: 2px 2px 21px -12px rgba(0, 0, 0, 0.75) inset;
	overflow-y: scroll;
	resize: none;
}

.chat-input__btn {
	background-color: gray;
	padding: 10px;
}
