.contactTab {
	margin: 0.3rem 0;
	padding: 0.4rem;
	background-color: aliceblue;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.3rem;
}

.contactTab__statusOnline {
	color: green;
}

.contactTab__statusOffline {
	color: red;
}
