.wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.avatarContainer {
	position: relative;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.avatar {
	width: 5rem;
	height: 5rem;
	padding: 0.5rem;
	left: 0px;
	top: 0rem;
	border-radius: 100px;
}

.onlineStatusIcon__online,
.onlineStatusIcon__offline {
	position: absolute;
	left: 68%;
	top: 65%;
}

.onlineStatusIcon__online {
	color: var(--color-online);
}

.onlineStatusIcon__offline {
	color: var(--color-offline);
}
