.auth {
	width: 320px;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;
	justify-items: center;
	padding: 2rem;
}

.auth * {
	margin-bottom: 0.5rem;
}

.auth__input {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid var(--color-tertiary);

	color: var(--color-tertiary);
	background-color: var(--color-secondary);
	font-size: 1.6rem;
}

.auth__input:focus,
.auth__input:active {
	color: var(--color-tertiary) !important;
	background-color: var(--color-secondary) !important;
	border: 1px solid var(--color-tertiary) !important;
	outline: none;
}

.auth__text {
	color: var(--color-tertiary);
	text-align: center;
	font-size: 1.6rem;
}
