/* fs - full screen */
.container-fs {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper-full-screen-dark {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary);
}
