:root {
	--color-primary: #1e1e1e;
	--color-secondary: #262626;
	--color-tertiary: #ffffff;
	--color-online: #53e04e;
	--color-offline: #f0971d;
	--color-button: linear-gradient(to right, #fff500 0%, #b42ba6 100%);
	--color-button-hover: #4cbb17;
	--color-error: #ff0000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}
