.search {
	width: 100%;
	display: grid;
	align-items: center;
}

.search * {
	margin-top: 0.5rem;
}

.searchInput {
	border-style: none;
	border-radius: 0.3rem;
	padding: 0.5rem;
}

.searchBtn {
	color: black;
	justify-self: center;
}

.searchResult {
	justify-self: center;
}
