.searchContactResult {
	position: relative;
	padding: 2rem;
	margin: 0.3rem;
	background-color: rgb(235, 235, 235);
	overflow: scroll;
}

.addContact,
.clearContact {
	position: absolute;
	top: 0;
	cursor: pointer;
}

.addContact {
	left: 0;
}

.clearContact {
	right: 0;
}
